/*=====================================
general
=====================================*/
h1, h2 {
  font-size: 3rem;
}

.fas.fa-info-circle {
  margin-left: 0.5rem;
  color: var(--gray);
}

.invisible {
  display: none;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: #F3F4F6;
  box-shadow: 0 1px 8px 1px var(--black);
  z-index: 2;
}

/*=====================================
site-header
=====================================*/
.site-header {
  height: auto;
  margin-top: 120px;
  background: none;
}

/*=====================================
mortgage section
=====================================*/
.main-page {
  min-height: 100vh;
}

section.mortgage {
  font-size: 1.6rem;
  max-width: 1200px;
  padding-bottom: 15rem;
  margin: 0 auto ;
}

.section-title {
  margin-bottom: 2.5rem;
}

.title-container {
  width: 80%;
  margin: 0 auto;
}

.payment-container .payment {
  font-size: 4rem;
}

.payment-details {
  font-size: 1.2rem;
  width: 60%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  color: var(--gray);
}

.payment-details-text {
  text-align: left;
}

.payment-details-values {
  text-align: right;
}

.mortgage-calculator-container {
  min-width: 280px;
  display: flex;
  margin: 2rem;
  border-radius: 10px;
  background-color: var(--light-gray);
}

.mortgage-calculator-container input[type="range"] {
  appearance: none;
  height: 3px;
  border-radius: 4px;
  margin-top: 1.5rem;
  background: var(--white);
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--gray);
  border-radius: 50%;
  background: var(--light-gray);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--marigold);
}

.donut-chart-container {
  height: 540px;
  position: relative;
  display: none;
  background-color: var(--white);
  margin: 1rem;
  border-radius: 5px;
}

svg {
	width: 100%;
  height: 100%;
}

svg > g {
  transform: translate(50%, 40%);
}

.monthly-payment {
  font-size: 24px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.payment-amount {
  font-weight: 700;
  font-size: 40px;
}

.tooltip {
  color: black;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font: 12px sans-serif;
  position: absolute;
  display: none;
  width: fit-content;
  padding: 5px;
  border: 0 none;
  border-radius: 8px;
  background: none repeat scroll 0 0 white;
  box-shadow: -3px 3px 15px #888888;
  z-index: 1;
}

.inputs-container {
  flex: auto;
}

.simple-calculator-container {
  padding: 1rem 1rem 0 1rem;
}

.advanced-calculator-container {
  height: 0;
  padding: 0 1rem;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.input-row-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.double-number-input-container {
  display: flex;
  flex: 50%;
}

.double-number-input-container .number-input-container:first-child {
  flex: 66%;
}

.double-number-input-container .number-input-container:last-child {
  flex: 33%;
}

.double-number-input-container .number-input-container input {
  width: 100%;
}

.range-input-container {
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.number-input-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

.number-input-container span {
  margin: 0 1rem;
}

.number-input-container input,
.number-input-container select {
  font-size: 1.4rem;
  flex: auto;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  outline-style: none;
  background-color: var(--light-gray);
  transition: background-color 0.3s ease-in-out;
}

.number-input-container input:focus,
.number-input-container input:hover,
.number-input-container select:focus,
.number-input-container select:hover {
  background-color: var(--white);
}

.info-tooltip {
  width: 250px;
  position: absolute;
  padding: 1rem;
  margin: -2rem 0 0 5rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
  background-color: #F3F4F6;
  z-index: 1;
}

.info-tooltip:hover,
.fas.fa-info-circle:hover + .info-tooltip {
  display: block;
}

.show-advanced-calculator,
.hide-advanced-calculator {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 2rem;
  margin: 1rem;
  border: 3px solid var(--black);
  border-radius: 25px;
  outline: none;
  background-color: var(--marigold);
  cursor: pointer;
}

.show-advanced-calculator .fas,
.hide-advanced-calculator .fas {
  color: var(--black);
  margin-left: 1rem;
}

/*=====================================
media queries
=====================================*/
@media (min-width: 576px) {
  /*=====================================
  mortgage section
  =====================================*/
  .input-row-container {
    flex-direction: row;
  }

  .range-input-container {
    flex: 50%;
    margin-right: 1rem;
  }

  .range-input-container input {
    display: block;
  }

  .number-input-container {
    flex: 50%;
  }

  .info-tooltip {
    width: 350px;
  }
}




@media (min-width: 768px) {
  /*=====================================
  mortgage section
  =====================================*/
  .section-title {
    font-size: 4rem;
  }

  .number-input-container input,
  .number-input-container select {
    font-size: 1.6rem;
  }

  .info-tooltip {
    width: 450px;
  }
}




@media (min-width: 1024px) {
  /*=====================================
  mortgage section
  =====================================*/
  .donut-chart-container {
    max-width: 400px;
    display: block;
    flex: 40%;
  }

  .payment-container {
    display: none;
  }
}
