/* SCSS HEX */
$prussian-blue: #303f56ff;
$bittersweet: #ff6e5fff;
$white: #ffffffff;
$marigold: #f0a202ff;
$little-boy-blue: #72a1e5ff;

/* SCSS HSL */
$prussian-blue: hsla(216, 28%, 26%, 1);
$bittersweet: hsla(6, 100%, 69%, 1);
$white: hsla(0, 0%, 100%, 1);
$marigold: hsla(40, 98%, 47%, 1);
$little-boy-blue: hsla(215, 69%, 67%, 1);

/* SCSS RGB */
$prussian-blue: rgba(48, 63, 86, 1);
$bittersweet: rgba(255, 110, 95, 1);
$white: rgba(255, 255, 255, 1);
$marigold: rgba(240, 162, 2, 1);
$little-boy-blue: rgba(114, 161, 229, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #303f56ff, #ff6e5fff, #ffffffff, #f0a202ff, #72a1e5ff);
$gradient-right: linear-gradient(90deg, #303f56ff, #ff6e5fff, #ffffffff, #f0a202ff, #72a1e5ff);
$gradient-bottom: linear-gradient(180deg, #303f56ff, #ff6e5fff, #ffffffff, #f0a202ff, #72a1e5ff);
$gradient-left: linear-gradient(270deg, #303f56ff, #ff6e5fff, #ffffffff, #f0a202ff, #72a1e5ff);
$gradient-top-right: linear-gradient(45deg, #303f56ff, #ff6e5fff, #ffffffff, #f0a202ff, #72a1e5ff);
$gradient-bottom-right: linear-gradient(135deg, #303f56ff, #ff6e5fff, #ffffffff, #f0a202ff, #72a1e5ff);
$gradient-top-left: linear-gradient(225deg, #303f56ff, #ff6e5fff, #ffffffff, #f0a202ff, #72a1e5ff);
$gradient-bottom-left: linear-gradient(315deg, #303f56ff, #ff6e5fff, #ffffffff, #f0a202ff, #72a1e5ff);
$gradient-radial: radial-gradient(#303f56ff, #ff6e5fff, #ffffffff, #f0a202ff, #72a1e5ff);